@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-image:url("./coding-bootcamp-testimonials-slider-master/images/pattern-quotes.svg"), url("./coding-bootcamp-testimonials-slider-master/images/pattern-bg.svg")  , url("./coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg");
   background-size: 100px, 600px , auto;
    background-repeat: no-repeat;
    background-position: 330px 150px, 600px 30px,   left bottom ;
}
main{
    width: 60%;
   display: flex;
   position: relative;
   animation: fadeInAnimation 0.6s ease-in-out forwards;
}
main > .left {
    width: 50%;
    position: relative;
    animation: fadeInAnimation 0.2s ease-in-out forwards;
}
.left > p{
    line-height: 30px;
    font-size: 20px;
    color: var(--Dark-Blue);
}
.flex{
    padding-top: 30px;
    gap: 10px;
}
.flex > .name {
    color: var(--Dark-Blue);
    font-weight: bold;
}
.flex > .job {
    color: var(--Grayish-Blue);
}
/* right  */
.right > img{
    border-radius: 5px;
    width:450px;
    position: absolute;
    /* bottom: 0; */
    top: -130px;
    right: 0px;
    z-index: -1;
    box-shadow: -17px 31px 22px -3px rgba(0,0,0,0.1);
    animation: fadeInAnimation 0.2s ease-in-out forwards;
}
.right > .arrow {
    display: flex;
    gap: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    position: absolute;
    bottom: -140px;
}
.arrow > .prev:hover , .arrow > .next:hover, .arrow-mobile > .prev-mobile:hover , .arrow-mobile > .next-mobile:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* non-active slide  */
.left:not(.active) {
    display: none;
  }
.mobile{
    display: none;
}
  /* animation  */
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1260px){
    main{
        width: 80%;
      
    }
  }
  @media screen and (max-width: 950px) {
    .right > .arrow {
      
        bottom: -100px;
    }
  }
  @media screen and (max-width: 800px) {
    main{
        width: 100%;
        margin: 0 20px;
        flex-direction: column;

       
    }
    main > .left {
        width: 100%;
        text-align: center;
    }
    .right{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        margin-bottom: 60px;
    
    }
    .mobile > img {
        width:350px;
        box-shadow: -17px 31px 22px -3px rgba(0,0,0,0.1);
        animation: fadeInAnimation 0.2s ease-in-out forwards;
    }
    .mobile > .arrow-mobile{
        display: flex;
        gap: 30px;
        background-color: white;
        border-radius: 20px;
        padding: 10px 15px;
        position: absolute;
        bottom: -20px;
        
        left: 130px;
    }
  }
  @media screen and (max-width: 800px) {
    .mobile > img {
        width:300px;
    }
    .mobile > .arrow-mobile{
        left: 100px;
    }
  }